.product_card {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;

  min-height: 424px;
  flex-shrink: 0;

  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);

  &:first-child {
    margin-left: -1%;
  }

  padding-bottom: 2rem;
  // border-radius: 12px;
  // border: 2px solid #beb7b7;
  // border-left: none;

  .card_image {
    width: 100%;
    height: 251px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px 8px 0 0;
    }

    position: relative;
    .popular_img {
      width: 113px;
      height: 2.6rem;
      flex-shrink: 0;

      position: absolute;
      left: -10px;
      bottom: -1.3rem;
    }
  }

  .card_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;

    margin-top: 2rem;

    .price_and_heart {
      // border: 2px solid black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      .price {
        width: 80%;
        display: flex;
        align-items: center;

        color: #dc044d;
        font-family: "Plus Jakarta Sans";
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 800;
        line-height: 150%;
        letter-spacing: 0.5px;

        span {
          color: #000929;

          font-family: "Plus Jakarta Sans";
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;

          margin-left: 0.5rem;
        }
      }

      .heart_container {
        width: 10%;

        display: flex;
        justify-content: center;
        align-self: center;

        border-radius: 50%;

        background: #f4f5f7;

        border: 1.5px solid e8e6f9;

        img {
          width: 24px;
          height: 24px;
          flex-shrink: 0;
        }
      }
    }

    .product_name {
      width: 80%;

      color: #000929;
      font-family: "Plus Jakarta Sans";
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: -0.24px;

      margin-top: 0.2rem;
    }

    .product_address {
      width: 80%;
      opacity: 0.5;

      color: #000929;
      margin-top: 0.5rem;

      font-family: "Plus Jakarta Sans";
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }

    .product_details {
      width: 80%;
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .detail_container {
        margin-top: 1rem;
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        img {
          width: 20px;
          height: 20px;
        }
        span {
          opacity: 0.7;

          color: #000929;
          font-family: "Plus Jakarta Sans";
          font-size: 0.9rem;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
        }
      }
    }
  }
}
