@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); // poppins font
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap"); // plus jakarta sans font
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); // Roboto font

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: "Plus Jakarta Sans", "Poppins", sans-serif;
}

li {
  list-style: none;
  cursor: pointer;
}
